.home_content {
  display: flex;
  flex-direction: column;
}

.home_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.home_empty {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.home_title {
  font-size: 20px;
}

.home_button {
  font-size: 18px !important;
  padding-left: 1rem;
}

.home_button:hover {
  cursor: pointer !important;
}

.home_circle {
  color: rgb(252, 97, 2);
}

.home_plus,
.home_del {
  color: #fff;
}

.home_add:focus,
.home_add:hover {
  cursor: pointer;
}
