.loginForm {
  background-color: #000;
  color: #fff;
  padding: 2rem 4rem;
}

.loginForm_title {
  font-family: Karla-Bold;
  margin: 0;
  padding-bottom: 1rem;
}

.loginForm_form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginForm_input {
  font-size: 14px;
}

.loginForm_label {
  align-self: flex-start;
  font-family: Karla-Bold;
  padding: 1rem 0 0.5rem;
}

.loginForm_signup:focus,
.loginForm_signup:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 640px) {
  .loginForm {
    padding: 2rem;
  }

  .loginForm_title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 568px) {
  .loginForm {
    padding: 1.5rem;
  }
}
