.paletteForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.paletteForm_title {
  margin: 0;
  padding-bottom: 1rem;
}

.paletteForm_form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 4rem;
  width: 40rem;
}

.paletteForm_inputs {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.paletteForm_row {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.paletteForm_left {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paletteForm_name {
  width: 300px;
}

.paletteForm_link {
  width: 200px;
}

.paletteForm_description {
  height: 150px;
  width: 300px;
}

.paletteForm_input {
  font-size: 14px;
}

.paletteForm_label {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.paletteForm_label-text {
  padding: 1rem 0 0.5rem;
}

.paletteForm_imageUpload {
  background-color: #ddd;
  color: #000;
  height: 250px;
  text-align: center;
  width: 250px;
}

@media only screen and (max-width: 800px) {
  .paletteForm_form {
    width: 35rem;
  }
}

@media only screen and (max-width: 700px) {
  .paletteForm_form {
    width: 30rem;
  }
}

@media only screen and (max-width: 640px) {
  .paletteForm_form {
    width: 15rem;
  }

  .paletteForm_row {
    align-items: center;
    flex-direction: column;
  }

  .paletteForm_inputs {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 250px;
  }

  .paletteForm_input {
    width: 250px;
  }

  .paletteForm_description {
    margin-bottom: 1rem;
  }

  .paletteForm_imageUpload {
    height: 250px;
    width: 250px;
  }
}

@media only screen and (max-width: 375px) {
  .paletteForm_form {
    width: 12rem;
  }

  .paletteForm_description {
    width: 250px;
  }
}

@media only screen and (max-width: 320px) {
  .paletteForm_form {
    width: 10rem;
  }
}
