.paletteForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.paletteForm_title {
  font-family: Karla-Bold;
  margin: 0;
  padding-bottom: 1rem;
}

.paletteForm_alert {
  color: red;
  margin: 0;
  padding: 0.5rem 1rem;
}

.paletteForm_form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 4rem;
  width: 40rem;
}

.paletteForm_inputs {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.paletteForm_row {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.paletteForm_left {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paletteForm_name {
  font-family: Karla-Bold;
  width: 300px;
}

.paletteForm_link {
  font-family: Karla-Bold;
  width: 200px;
}

.paletteForm_description {
  font-family: Karla-Bold;
  height: 150px;
  width: 300px;
}

.paletteForm_input {
  font-size: 14px;
}

.paletteForm_label {
  align-self: flex-start;
  font-family: Karla-Bold;
  display: flex;
  flex-direction: column;
}

.paletteForm_label-text {
  font-family: Karla-Bold;
  padding: 1rem 0 0.5rem;
}

.paletteForm_image {
  height: 200px;
  object-fit: contain;
  width: 250px;
}

.paletteForm_image:hover {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .paletteForm_form {
    width: 38rem;
  }
}

@media only screen and (max-width: 750px) {
  .paletteForm_form {
    width: 15rem;
  }

  .paletteForm_row {
    align-items: center;
    flex-direction: column;
  }

  .paletteForm_inputs {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 250px;
  }

  .paletteForm_input {
    width: 250px;
  }

  .paletteForm_description {
    margin-bottom: 1rem;
  }

  .paletteForm_imageUpload {
    height: 250px;
    width: 250px;
  }
}

@media only screen and (max-width: 375px) {
  .paletteForm_form {
    width: 12rem;
  }

  .paletteForm_description {
    width: 250px;
  }
}

@media only screen and (max-width: 320px) {
  .paletteForm_form {
    width: 10rem;
  }
}
